#icon {
  font-size: 50px;
  color: #8b0000;
  
}

title {
  color: brown;
}

.titulo-section {
  font-family: "Great Vibes", cursive; /* Fuente elegante */
  font-size: 48px; /* Tamaño grande */
  font-weight: 900;
  color: #8b0000; /* Rojo oscuro */
  text-align: center;
  margin: 40px 0;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6); /* Sombra para profundidad */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; /* Espacio entre el texto y las decoraciones */
  background: linear-gradient(
    155deg,
    #676565,
    #f6f3f3,
    #676565
  ); /* Degradado de tonos rojos */
  padding: 20px;
  width: 100%;
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
  border: solid 2px #8b0000; /* Borde rojo */
  .decoracion {
    color: rgb(145, 23, 23);
    font-size: 35px;
  }
}
