@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
  overflow: hidden; /* Evita que el contenido se desborde */
}

.main-container::before {
  content: "";
  background-image: url("../../../public/freepik-export-20250120142839zsbq.png");
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.5) grayscale(100%); /* Reduce el brillo y aplica un efecto en blanco y negro */
  z-index: -1; /* Coloca la imagen detrás del contenido */
}

header {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 10; /* Asegura que el header esté por encima del main-container */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para el navbar */
  padding: 10px 40px;
  position: fixed; /* Fija el navbar en la parte superior */
  width: 100%;
  z-index: 20; /* Asegura que el navbar esté por encima del header */
  top: 0;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center;
  flex: 1; /* Permite que los elementos ocupen el mismo espacio */
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left .brand {
  margin-left: 20px; /* Ajusta este valor según sea necesario */
}

.navbar-center {
  justify-content: center;
}

.navbar-right {
  justify-content: flex-end;
  list-style: none;
  display: flex;
  gap: 2.5rem;
  padding-right: 20px; /* Añadir padding a la derecha para separar del margen */
}

.navbar-right li {
  position: relative;
  animation: tango-slide-in 1s ease-in-out;
  border-bottom: 2px solid #ff0000; /* Borde inferior sutil */
  padding-right: 10px; /* Añadir padding a la derecha para separar del margen */
}

.navbar-right a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.navbar-right a:hover {
  color: #ff0000;
}

.logo {
  height: 80px; /* Aumenta el tamaño del logo */
  width: 120px;
  border: 3px solid #ff0000; /* Añade un borde rojo alrededor del logo */
  padding: 1px; /* Añade un poco de espacio interno */
  border-radius: 15%; /* Cambia la forma del logo */
  background-color: transparent; /* Añade un fondo blanco para mayor visibilidad */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Añade un efecto de sombra */
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none; /* Oculta el contenido del dropdown por defecto */
  position: absolute;
  background-color: #fbf8f8;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0; /* Elimina el padding para evitar espacios en blanco */
  min-width: 200px; /* Asegura que el dropdown tenga un ancho mínimo */
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px; /* Añade padding para separar los enlaces entre sí */
  text-decoration: none;
  display: block; /* Asegura que los enlaces ocupen todo el ancho del contenedor */
  width: 100%; /* Asegura que los enlaces ocupen todo el ancho del contenedor */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.dropdown-content a:hover {
  background-color: #080808;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  display: block; /* Muestra el contenido del dropdown al hacer hover */
}

.content {
  flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Desliza hacia abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Posición final */
  }
}

.brand {
  color: #8b0000; /* Rojo oscuro */
  font-size: 24px;
  font-weight: bold;
  font-family: "Dancing Script" !important; /* Cambia la fuente a Dancing Script */
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 20px; /* Ajusta este valor según sea necesario */
  overflow: hidden; /* Asegura que el texto esté oculto hasta que comience la animación */
  white-space: nowrap; /* Evita que el texto se envuelva */
  display: inline-block;
}

.navbar .brand span {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  font-family: "Dancing Script", cursive !important; /* Cambia la fuente a Dancing Script */

  opacity: 0;
  animation: fade-in 8s  forwards infinite ; /* Aplica la animación de desvanecimiento */
  color: #8b0000; /* Asegura que las letras sean visibles */
  text-shadow: 0.5px 0.5px 1px rgba(255, 255, 255, 0.7); /* Añade un sombreado blanco */

}

.navbar .brand span:nth-child(1) {
  animation-delay: 0.6s;
}

.navbar .brand span:nth-child(2) {
  animation-delay: 1s;
}

.navbar .brand span:nth-child(3) {
  animation-delay: 1.4s;
}

.navbar .brand span:nth-child(4) {
  animation-delay: 1.8s;
}

.navbar .brand span:nth-child(5) {
  animation-delay: 2.2s;
}

.navbar .brand span:nth-child(6) {
  animation-delay: 2.6s;
}

.navbar .brand span:nth-child(7) {
  animation-delay: 3s;
}

.navbar .brand span:nth-child(8) {
  animation-delay: 3.4s;
}

.navbar .brand span:nth-child(9) {
  animation-delay: 3.8s;
}

.navbar .brand span:nth-child(10) {
  animation-delay: 4.2s;
}

.navbar .brand span:nth-child(11) {
  animation-delay: 4.6s;
}

.navbar .brand span:nth-child(12) {
  animation-delay: 5s;
}

.navbar .brand span:nth-child(13) {
  animation-delay: 5.4s;
}

.navbar .brand span:nth-child(14) {
  animation-delay: 5.8s;
}

.navbar .brand span:nth-child(15) {
  animation-delay: 6.2s;
}

.navbar .brand span:nth-child(16) {
  animation-delay: 6.6s;
}

.navbar .brand span:nth-child(17) {
  animation-delay: 7s;
}

.navbar .brand span:nth-child(18) {
  animation-delay: 7.4s;
}

.navbar .brand span:nth-child(19) {
  animation-delay: 7.8s;
}

.footer {
  background: linear-gradient(
    to right,
    #989797 15%,
    #666 35%,
    #000 50%,
    #666 65%,
    #989797 85%
  ); /* Degradado de negro a blanco, con más negro */
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  font-family: "Georgia", serif;
  position: relative; /* Cambiar a relative o eliminar esta línea */
}
.footer-content {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center;
  padding: 0 40px; /* Aumenta el padding para separar las imágenes del borde */
}

.footer-left, .footer-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer-icon {
  width: 80px; /* Ajusta el tamaño de los iconos */
  height: auto;
}

.footer-center {
  text-align: center;
  flex: 2;
}

.social-media {
  display: flex;
  justify-content: center; /* Centra los iconos horizontalmente */
  gap: 40px; /* Aumenta la separación entre los iconos */
  margin-top: 10px; /* Añade un margen superior para separar los iconos del texto */
}

.social-media a {
  color: #ff0000;
  font-size: 24px; /* Aumenta el tamaño de los iconos */
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease; /* Añade una transición suave */
  padding: 10px; /* Añade padding alrededor de los iconos */
  border-radius: 50%; /* Hace que los iconos sean circulares */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px; /* Ajusta el ancho del contenedor del icono */
  height: 44px; /* Ajusta la altura del contenedor del icono */
}

.social-media a:hover {
  color: #fff;
  background-color: #ff0000; /* Cambia el color de fondo al hacer hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Añade un efecto de sombra */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño del icono al hacer hover */
}